
body{
  display: flex;
  align-items: center;
  text-align: center;

}


.colors{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 250px;
 

  margin: 20px;
}

.dispColor{
  /* used css variable to link the selected Color */
  background-color: var(--pick-color); 
  width: 200px;
  height: 250px;
  
}


.colorbar{
 display: flex;
 flex-direction: row;
  justify-content: space-around;

}


.hueCont{
  margin: 20px;
  text-align: center;
}


.hueSlider{
  margin: 20px;
  border-radius: 10px;
  -webkit-appearance: none;
  height: 15px;
  width: 350px;
  /* Colorful background for the hueSlider, just like the Google Color picker */
  background: linear-gradient(to right, hsl(0, 100%, 50%), hsl(60, 100%, 50%), hsl(120, 100%, 50%), hsl(180, 100%, 50%), hsl(240, 100%, 50%), hsl(300, 100%, 50%), hsl(360, 100%, 50%));
}


.eachInp{
  padding: 20px;
  border-radius: 15px;
  border-style: solid;
  border-color: rgba(0,0,0, 0.35);
  border-width: 2px;
  
  margin: 15px;
  
}

.Hex{
  margin-top: 20px;
  width: 500px;
}

.eachInp:hover{
  box-shadow: 2px 2px 2px 2px rgb(191, 189, 189);
}

input{
  width: 300px;

  margin-top: 10px;
}

label{
cursor: pointer;
}

/* styling the handle or the thumb of the slider */
.hueSlider::-webkit-slider-thumb {
-webkit-appearance: none;
background-color: rgb(0, 0, 0);
border-radius: 50%;

width: 20px;
height: 20px;


}


.GradSelector{
  
  background: linear-gradient(to top, black, transparent), 
              linear-gradient(to right, white, hsl(var(--grad-color), 100%, 50%));

}


.GradSelector:active{
  cursor: pointer;
}

.HexCont{
  display: flex;
  justify-content: center;
}


@media (max-width: 1500px){
  
  /* CSS Grid used on small window size */
  .colorbar{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
    grid-auto-rows: minmax(100px, auto);
  }


  .eachInp{
    margin: 10px;
  }
  input{
    width: 200px;
  }
}


h1{
  text-align: center;
  margin-bottom: 5px;
}

.wrapper{
  position: relative;
}

.locator{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-color: rgb(254, 251, 251);
  border-width: 2px;
  border-style: solid;
  transform: translate(400px, -200px);
  position: absolute;
  /* background-color: var(--grad-color); */
}

.voice{
  margin: 10px;
  font-size: 20px;
  border-radius: 15px;
  padding: 10px;
}

.voice:hover{
  cursor: pointer;
   box-shadow: 2px 2px 3px 3px rgba(0,0,0,0.35); 
}
